h1{
    text-align: center;



}

p{
    font-size: 1em;
    font-family: cursive;

}

section{
    margin-left: .1%;


}

#section1{
    margin-top: 1px;
    display:inline-block;
    width: 79%;
    height: 29%;
    font-family: cursive;
    font-size: 1em;
    color: black;
    background-color: lightgrey;
    border-style: solid;
}

#section2{
    margin-top: 1px;
    margin-right:.2%;
    display:inline-block;
    width: 19%;
    height: 99%;
    font-family: cursive;
    font-size: 1em;
    color: black;
    background-color: whitesmoke;
    border-style: solid;
    float:right;


}

#section3{
    margin-top: 1px;
    margin-left: .5%;
    margin-bottom: .2%;
    display:inline-block;
    width: 25%;
    height:68%;
    font-family: cursive;
    font-size: 1em;
    color: black;
    background-color: darkgray;
    border-style: solid;

}

#section4{
    margin-top: 1px;
    margin-bottom: .2%;
    display:inline-block;
    width: 25%;
    height:68%;
    font-family: cursive;
    font-size: 1em;
    color: black;
    background-color: darkgray;
    border-style: solid;


}
#section5 {
    margin-top: 1px;
    margin-bottom: .2%;
    display: inline-block;
    width: 26%;
    height:68%;
    font-family: cursive;
    font-size: 1em;
    color: black;
    background-color: darkgray;
    border-style: solid;

}