h1{
    text-align: center;

}
h2{
    text-align: center;

}


#section1{
    display:inline-block;
    width: 99%;
    height: 25%;
    font-family: cursive;
    font-size: 1em;
    color: black;
    background-color: lightgrey;
    border-style: solid;
    margin-left:2px;
    margin-top:2px;
}

#section2{
    margin-right:.2%;
    margin-top: 3px;
    display:inline-block;
    width: 99%;
    height: 10%;
    font-family: cursive;
    font-size: 1em;
    color: black;
    background-color: whitesmoke;
    border-style: solid;
    float:right;

}

#section3{
    margin-left: .5%;
    margin-top: 3px;
    display:inline-block;
    width: 98.4%;
    height:60%;
    font-family: cursive;
    font-size: 1em;
    color: black;
    background-color: darkgray;
    border-style: solid;

}
