html {
    width:100%;
    height:1200px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    padding: 0;



}

a{
    text-decoration: none;
    color:white;

}




/* -------------------- navbar and button ------------------- */



#navBar{
    width:100%;
    height: 100px;
    background:linear-gradient(180deg, black, dimgrey);
    display: inline-block;
    text-align: center;
    z-index: 8;

}

#headerText{
    color: white;
    text-shadow: 1px 1px black, 3px 3px red;
    font-size: 2.5em;
    font-family: Cursive,sans-serif;
    margin-top: 10px;
    z-index: 5;

}


.buttons{
    display: inline-block;
    width: 15%;
    height: 38%;
    text-align: center;
    font-size: 140%;
    font-family: cursive;
    background: radial-gradient(circle, red, darkred);
    color: white;
    text-shadow: 2px 2px black, 2px 2px black;
    border: 1px black solid;
    margin-left: 0.9%;
    margin-top: 2px;
    position: relative;
    z-index: 9;

}

.buttons:hover{
    background: radial-gradient(circle, black, darkred);

}


.dropDownMenu {
    display: none;

}

li:hover  > ul a li{
    display: inline-table;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 100%;
    font-family: cursive;
    background: radial-gradient(circle, red, darkred);
    color: white;
    list-style: none;
    position: absolute;
    z-index: 10;
    margin-top:3%;
    border: 1px solid black;

}


#dropDownItem{
    margin-top: 15.5%;
    z-index: 11;


}

.dropDownMenu:after {


    content: ""; clear: both; display: block;
}


/* ---------------------------------------------------------- */

/* ---------------------------- body ------------------------ */

#Body{

    width: 80%;
    height: 1015px;
    border-style: solid;
    background-color: whitesmoke;
    margin-left:9.7%;

}

body {
    background: radial-gradient(circle, white, black)

}

section{
    margin: 0 0 0 0;
    padding: 0;



}

/* ---------------------------------------------------------- */



/* -------------------- Footer ------------------------------ */

footer{
    margin-left:9.7%;
    display: inline-block;
    width: 80%;
    height:80px;
    background-color: darkred;
    border: solid black;
}

.footerIcon{
    width:80px;
    height:80px;

}
